<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

    <style>
        .uploaded-image{
            width: 80%;
        }
    </style>
<body>

    <div class="container" style="text-align: center;">
        <h1>Image Upoaded Successfully</h1>
    
        <img class="uploaded-image" src="<%= imageSuccessInfo.url  %>" alt="" width="">
        <div>
            <h5><a href="/image-upload">Upload More</a></h5>
        </div>
    </div>
   
</body>
</html>